/* Estilos gerais da página */
body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    height: 100%;
    background-color: #f4f7fa; /* Cor de fundo suave */
}

/* Cabeçalho */
header {
    background-color: #4CAF50;
    padding: 20px;
    text-align: center;
    color: white;
}

header h1 {
    margin: 0;
}

/* Estilos do formulário */
form {
    width: 60%;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    color: #333;
    font-size: 28px;
    margin-bottom: 20px;
}

/* Estilos para os campos do formulário */
.form-group {
    margin-bottom: 15px;
}

.form-group label {
    font-size: 16px;
    font-weight: bold;
    color: #333;
}

.form-group input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.form-group input:focus {
    outline: none;
    border-color: #4CAF50;
    background-color: #fff;
}

/* Estilos para os botões */
button {
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

button:hover {
    opacity: 0.9;
}

.btn-primary {
    background-color: #4CAF50;
    color: white;
    border: none;
}

.btn-secondary {
    background-color: #f44336;
    color: white;
    border: none;
    margin-left: 10px;
}

/* Estilos do link para voltar */
a {
    text-decoration: none;
}

.mt-2 {
    margin-top: 20px;
}

/* Rodapé */
footer {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
    position: relative;
    width: 100%;
    margin-top: 30px;
}
